

.registerFormBg {
  background-image: url("../images/register.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.registerFormDiv {
    // background: linear-gradient(to bottom right,#8cd5f1,#328ce7)
}