.productViewImage {
    width: 100%;
    height: auto;
}

.underline {
    width: 75px;
    height: 3px;
    background-color: #faaf00;
}

.underline1 {
    width: 125px;
    height: 3px;
    background-color: #faaf00;
    margin-top: 4px;
}

.cartControls {
    button {
        padding: 0px;
        margin: 0px;
        font-size: 3px;
    }
   
}